.centered-container, .bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bar-container {
   height: 30px;
   width: 400px;
}

.bar-frame {
    width:100%;
    height:100%;
    background: black;
    /* display: flex; */
}


.bar-background {
    width:100%;
    height:100%;
    background: red;
    /* justify-content: space-around; */
}

.bar-health {
    width:100%;
    height:100%;
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0s;
    color: white;
    /* justify-self: left; */
}

#effectText {
  color:white;
}

/*
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #f00 transparent;
  animation: lds-dual-ring  ease-in infinite;
  animation-duration: 0;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*/

@keyframes argh-my-eyes {
    0%   { background-color: red; }
    50% { background-color: black; }
    100% { background-color: black; } 
  }
  

